
<div class="card">
    <div class="card-image-container" [style.background-color]="steps()[currentStep()].bgcolor">
        <img class="card-image" [src]="steps()[currentStep()].img" alt="Step image">
    </div>    
    <div class="card-content">
        <div class="card-title" [innerHTML]="steps()[currentStep()].title"></div>
        <div class="card-description" [innerHTML]="steps()[currentStep()].description"></div>
    </div>
    <div class="navigation-buttons">
        @if (currentStep() !== 0) {
            <button class="btn-prev" (click)="previousStep()">←</button>
        }
  
        @if (currentStep() !== steps().length - 1) {
            <button class="btn-next" (click)="nextStep()">→</button>
        }
    </div>

    <div class="indicators">
        @for (step of steps(); track step.title; let i = $index) {
            <span class="dot" [class.active]="i === currentStep()" (click)="goToStep(i)"></span>
            
        }
    </div>
</div>

